:root {
  --primary-color: #f7c7d9;
  --secondary-color: #1d1d1d;
  --tertiary-color: #fc4d5c;
  --quaternary-color: #273aaa;
  --quinary-color: #fff5eb;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

body {
  background-color: var(--primary-color);
  margin-left: 8%;
  margin-right: 8%;
}

h2 {
  font-size: 40px;
  font-family: "obviously", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-shadow: 2px 2px var(--quinary-color);
}

h3 {
  color: var(--secondary-color);
  font-family: "archivo-variable", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: -5%;
}

p {
  color: var(--secondary-color);
  font-family: "archivo-variable", sans-serif;
  font-weight: 600;
  font-size: 24;
  line-height: 140%;
  letter-spacing: -5%;
}

@media (max-width: 800px) {
  h2 {
    font-size: 34px;
    text-align: center;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}
