---

---

<article>
    <div class="overskrift">
    <h3 class="white_box">DU ER ALTID GOD NOK - VI ER HER NÅR DU BLIVER I TVIVL</h3>
    </div>

    <div class="girltalk_overskrift">
    <h1>GIRLTALK</h1>
    </div>  
</article>



<style>

    .overskrift{
        display: flex;
        justify-content: center;
        padding-top: 27px;
    }


    h3{
        font-family: obviously, sans-serif;
        font-style: italic;
        font-size: 20px;
        color: var(--quaternary-color);
        text-align: center;
    }

    .white_box {
        padding: 15px; 
        background-color: var(--quinary-color);
        border: 2px solid var(--quinary-color); 
        display: inline-block; 
        border-radius: 8px;
    }

    h1{
        font-size: 150px;
        font-family: obviously, sans-serif;
        color: var(--tertiary-color);
        margin: 0;
        margin-top: -38px;
        letter-spacing: 7px;
    }

    .girltalk_overskrift{
        text-align: center;
    }

    @media (max-width:800px){
        .overskrift{
        display: flex;
        justify-content: center;
        padding-top: 27px;
    }

    h3{
        font-family: obviously, sans-serif;
        font-style: italic;
        font-size: 18px;
        color: var(--quaternary-color);
        text-align: center;
    }

    .white_box {
        padding: 9px; 
        background-color: var(--quinary-color);
        border: 2px solid var(--quinary-color); 
        display: inline-block; 
        border-radius: 8px;
        margin: 27px;
    }

    .girltalk_overskrift{
        text-align: center;
    }

    h1{
        font-size: 60px;
        font-family: obviously, sans-serif;
        color: var(--tertiary-color);
        margin: 0;
        margin-top: -38px;
        letter-spacing: 3px;
    }

}

</style>