---

---
<h2>STYRKE GENNEM SAMTALER</h2>
<article>
    <div class="container">
        <div class="hjerte">
         <img src="../hjerte.webp" width="75" height="75" alt="hjerte">
        </div>
        <div class="text-container">
            <h3>Emmas historie</h3>
            <p>For Emma var puberteten en turbulent tid fyldt med tanker om selvværd og identitet. Hun følte sig fanget i et mørke af usikkerhed, indtil hun fandt hjælp gennem GirlTalks chat. Her fik hun støttende samtaler og rådgivning, der hjalp hende med at sætte ord på sine følelser og føle sig mindre alene. Takket være GirlTalks chat fandt Emma styrken til at omfavne sin rejse gennem puberteten med håb og tillid til sig selv.</p>
        </div>
    </div>
    <div class="container">
        <div class="hjerte">
            <img src="../hjerte.webp" width="75" height="75" alt="hjerte">
        </div>
            <div class="text-container">
            <h3>Frederikkes historie</h3>
        <p>Frederikke følte sig altid alene, indtil hun opdagede GirlTalks lokale fællesskaber. Her fandt hun ikke bare venner, men også en følelse af tilhørsforhold og forståelse. Gennem fællesskabet navigerede hun gennem pubertetens udfordringer og fandt håb og støtte til at fortsætte sin rejse mod selvværd og trivsel.</p>
    </div>
</div>
</article>

<style>
article {
    align-items: center;

}

    h2{
        margin-top: 85px;
        color: var(--tertiary-color);
text-align: center;
padding-top: 100px;
    }
   
    .hjerte{
        padding-top: 31px;
        width:70px;
        height: auto;
        padding-right: 10px;        
    }

    .container {
             display: flex; 

        }

        img {
            width: 100%;
            height: auto;
        }


        @media (min-width: 800px){
            article {
                padding-left: 200px;
                padding-right: 200px;
            }
    
</style>