---

---

<article>
    <h2 class="titel">VORES INDSATSER</h2>
    <div class="grid-1-1">
        <div class="billede luft" id="billedeElement">
            <img width="660" height="458" src="./computer.svg" alt="computer">
        </div>
        <div id="tekstElement">
            <h2 class="blaa">CHATRÅRDGIVNING</h2>
            <p>GirlTalks chatrådgivning er for dig mellem 12 og 24 år. Du kan chatte med vores ungerådgivere hver aften eller sende en sms til os hele døgnet</p>
            <p>Du er altid anonym og kan trygt dele dine tanker med os. Vi glæder os til at skrive med dig</p>
            <a href="https://www.girltalk.dk/vores-tilbud/chat-med-os/"><img class="chatknap" src="./chatknap.svg" width="418" height="108" alt="chat"></a>
        </div>

        <div class="billede luft luft2">
            <img width="249.58" height="321.81" src="./lys.svg" alt="pære">
        </div>
        <div>
            <h2 class="roed">VIDENSUNIVERS</h2>
            <p>Viden om alt det, der er vigtigt for dig! Bliv klogere, bryd tabuer og find ud af, hvordan andre har det med at være ung lige nu.</p>
            <p>I vores videnunivers kan du læse om alt fra familie og venner, krop og sex, selvværd, kærlighed, skole og uddannelse, trivsel og andet.</p>
        </div>

        <div class="billede luft luft2">
            <img width="362" height="323.14" src="./brev.svg" alt="brev">
        </div>
        <div>
            <h2 class="blaa">BREVKASSE</h2>
            <p>Pigetanker er vores brevkasse. Her kan du læse andres tanker og dele dine egne helt anonymt. Vi svarer på spørgsmål om ALT.</p>
            <p>Har du nogle tanker, du har brug for at få ud af hovedet, så de fylder mindre? Del dem med os her eller læs andre pigers spørgsmål, følelser og oplevelser.</p>
        </div>

        <div class="billede luft luft2">
            <img width="539.31" height="427.36" src="./horetelefoner.svg" alt="høretelefoner">
        </div>
        <div>
            <h2 class="roed">PODCAST</h2>
            <p>I GirlTalks podcast er  vi sammen med ugens gæster fortæller vi dig, at du altid er god nok, men vi er her, når du bliver i tvivl.</p>
            <p>I GirlTalks taler vi om alt det, der kan være svært at tale om. Gæsterne deler personlige erfaringer og viden inden for alt lige fra mobning, mental sundhed, kropsissues, sex og selvkærlighed.</p>
        </div>

        <div class="billede luft2">
            <img width="214.7" height="233.71" src="./blomster.svg" alt="brev">
        </div>
        <div>
            <h2 class="blaa">LOKALE FÆLLESSKABER</h2>
            <p>Vær med i en fysisk gruppe for andre på din alder, hvor vi styrker hinanden.</p>
            <p>Vi giver dig et trygt rum med andre piger og unge kvinder, hvor vi taler om det, der fylder og styrker hinanden. Bliv en del af sisterhood eller empower. 
                Find en gruppe nær dig.</p>
        </div>
    </div>
</article>


<style>
@media (min-width:800px){
.grid-1-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    gap: 30px;
}
div:nth-child(4n-1){
    grid-column: 2;
}
.luft{
    padding-bottom: 150px;
}
.titel{
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
    color: var(--tertiary-color);
}

/* CSS for at placere elementerne uden for synsfeltet */
#tekstElement, #billedeElement {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* CSS for animationen, der flytter elementerne ind på siden */
.animateElement {
    opacity: 1;
    transform: translateX(0);
}
}

@media (max-width:800px){
    .luft2{
        padding-top: 100px;
    }
    .titel{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 100px;
    color: var(--tertiary-color);
}
}
.blaa{
    color: var(--quaternary-color);
}
.roed{
    color: var(--tertiary-color);
}
.billede{
text-align: center;
}
.chatknap{
    width: 40%;
}

</style>