---

---

<article>
    <h2>VORES INDSATSER<h2>
    <div class="grid-1-1">
        <div>
            <h2>CHATRÅRDGIVNING<h2>
            <p>GirlTalks chatrådgivning er for dig mellem 12 og 24 år. Du kan chatte med vores ungerådgivere hver aften eller sende en sms til os hele døgnet.</p>
            <p>Du er altid anonym og kan trygt dele dine tanker med os. Vi glæder os til at skrive med dig</p>
        </div>
    </div>
</article>


<style>
.grid-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

</style>