---

---
<article>
<img src="./mission.webp" alt="billede GirlTalk">
<div>
<h2>HVEM ER GIRLTALK?</h2>
<p>Vi arbejder for at forebygge mistrivsel blandt piger og unge kvinder. <br> <br>
    Gennem vores initiativer og ressourcer arbejder vi på at forebygge mistrivsel og fremme trivsel. 
    Læs mere om vores arbejde og organisation her.</p>
</div>
</article>

<style>

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
   place-items: center;
   gap:  25px;
}

img {
    box-shadow: 8px 8px var(--quinary-color);
    border: 3px solid var(--quinary-color);
    border-radius: 1%;
    width: 100%; 
    height: auto;
    max-width: 350px;
}

h2 {
 color: var(--quaternary-color); 
}

@media (max-width: 800px){
    article {
    display: grid;
    grid-template-columns: 1fr;
   place-items: center;
   gap:  25px;
}

</style>