---
---


<article>
    <div class="nav">
        <p>CHATRÅDGIVNING</p>
        <p>VIDENSUNIVERS</p>
        <p>BREVKASSE</p>
        <p>PODCAST</p>
        <p>LOKALE FÆLLESKABER</p>
    </div>

    <div class="pil"> 
        <img class="pil_svg" src="/public/pil.svg" alt="Pil"> 
    </div>
</article>
    
<style>
    
        p{
            font-family: archivo-variable, sans-serif;
            font-size: 18px;
            color: var(  --tertiary-color);
            text-shadow: 1px 0px #fff5eb;
        }
    
    .nav {
    display: flex; 
    justify-content: space-between; 
    padding-top: 45px;
    }

    .nav p {
    margin: 0 7px; 
    }


    .pil {
    display: flex;
    justify-content: center; 
    align-items: center; 
     height: 11%; 
    }

   .pil_svg {
    padding-top: 9%;
    }

</style>