---
---



    <div>
        <h2>3 tips: Elsk dig selv endnu mere</h2>
    </div>
    <article>
  <div class="container">
        <div class="hjerte">
            <img class="hjerte" src="../hjerte.webp" width="75" height="75" alt="Hjerte">
        </div>

        <div class="text-container">
           <h3> Sæt tid af til dig selv</h3>
           <p> Prioritér dig selv og dine behov. Giv dig tid til glæde og velvære - det kan være at mødes med en ven, dyrke yoga eller bare tage en pause. Start med en time om dagen til det, der gør dig godt. Hvis det virker for meget, tag en halv time. Husk, det er dit liv, og du fortjener at tage vare på dig selv.</p>
        </div>
    </div>

    <div class="container">
        <div class="hjerte">
            <img class="hjerte" src="../hjerte.webp" width="75" height="75" alt="Hjerte">
        </div>
        <div class="text-container">
            <h3>Selv-medfølelse</h3>
            <p>Vi er tilbøjelige til at være alt for selvkritiske, når vi ikke lever op til vores egne høje standarder. Når vi er hårde ved os selv, kan det føre til dårlige følelser som usikkerhed og angst. Men hvad er alternativet? Lær at dyrke selv-medfølelse. Tillad dig selv at forstå, at perfektion ikke er nødvendig.</p>
        </div>
    </div>

    <div class="container">
        <div class="hjerte">
            <img class="hjerte" src="../hjerte.webp" width="75" height="75" alt="Hjerte">
        </div>
        <div class="text-container">
            <h3>Det er okay, at sige fra</h3>
            <p>Nogle gange er det vigtigt at sige nej. Lyt til dine egne behov og ønsker. Er du mere til en dag alene end en venindefrokost? Har du brug for at slappe af i weekenden i stedet for at arbejde? Øv dig i at sige nej, selv til de små ting. Mærk glæden og lettelsen ved at sætte grænser og prioritere dig selv.</p>
        </div>
  </div>
</article>

<style>

  article {
    padding-top: 20px;
    padding-left: 170px;
    padding-right: 170px;
    align-items: center;
   }

    h2{
      color: var(--tertiary-color);  
      text-align: center;
      padding-top: 100px;
    }


    .hjerte{
        padding-top: 17px;
        width:90px;
        height: auto;
        padding-right: 10px;  
    }

    .img{
        width: 100%;
        height: auto;
    }

    .container{
        display: flex; 
    }

    @media (max-width: 800px){

      .container{
       padding-top: 2%;
       padding-left: 0%;
       padding-right: 9%;
       }

       article {
        padding-top: 0;
                padding-left: 0;
                padding-right: 0;
        }

    .hjerte {
        padding-top: 12px;
    width: 170px;
    }
    }

</style>