---

---
<h2>VORES VISION</h2>
<article>
    <div class="container">
        <div class="lyn">
         <img src="../lyn.webp" width="75" height="75" alt="lyn">
        </div>
        <div class="text-container">
            <h3>Alle har brug for en at tale med</h3>
            <p>At have nogen, der lytter, er afgørende, men det er ikke altid let med dem, vi er tættest på. GirlTalk tilbyder et trygt sted at dele livets udfordringer med andre.</p>
        </div>
    </div>
    <div class="container">
        <div class="lyn">
            <img src="../lyn.webp" width="75" height="75" alt="lyn">
        </div>
            <div class="text-container">
            <h3>Du er værdifuld</h3>
        <p>Piger af enhver baggrund har værdi. GirlTalk hjælper dem med at opdage deres potentiale og støtter dem i at udvikle det.</p>
    </div>
</div>
    <div class="container">
        <div class="lyn">
            <img src="../lyn.webp" width="75" height="75" alt="lyn">
        </div>
        <div class="text-container">
            <h3>Sisterhood</h3>
        <p>Sisterhood handler om gensidig respekt og omsorg. Det indebærer at være autentisk og respektere andre for deres autenticitet.</p>
    </div>
    </div>
</article>

<style>
article {
    align-items: center;

}

    h2{
        margin-top: 85px;
        color: var(--tertiary-color);
text-align: center;
padding-top: 100px;
    }
   
    .lyn{
        padding-top: 20px;
        width:50px;
        height: auto;
        
    }

    .container {
             display: flex; 

        }

        img {
            width: 100%;
            height: auto;
        }

        @media (min-width: 800px){
            article {
                padding-left: 170px;
                padding-right: 170px;
            }
          
        }

    
</style>