---
import "../styles/MainStyles.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="girltalk">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.typekit.net/aqe5drh.css">
        <link rel="stylesheet" href="https://use.typekit.net/aqe5drh.css">
		<img loading="lazy" src="image.jpg" alt="" />
		<link rel="preload">
		<title>GirlTalk</title>
	</head>
</html>