---
import "../styles/MainStyles.css";
import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro";
import Info from "../components/Info.astro";
import Vision from "../components/Vision.astro";
import Historie from "../components/Historie.astro";
import Indsatser from "../components/Indsatser.astro";
import Tips from "../components/Tips.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="girltalk">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="https://use.typekit.net/aqe5drh.css">
        <link rel="stylesheet" href="https://use.typekit.net/aqe5drh.css">
		<img loading="lazy" src="image.jpg" alt="" />
		<link rel="preload">
		<title>GirlTalk</title>
	</head>
	<body>
		<Header />
<Nav />
<Info />
<Vision />
<Historie />
<Indsatser />
<Tips />
<Footer />
	</body>
</html>